<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Movie Tracker</title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="topnav">
        <a class="active">Home</a>
        <a href="/watched">Watched</a>
        <a href="/search">Search</a>
    </div>
    <h1 style="text-align: center;">Movie Tracker</h1>
    <h2>Recent Releases: </h2>
    <br><br>
    <div id="recent-releases">
        <%- list %>
    </div>
</body>

</html>