<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Movie Tracker</title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="topnav">
        <a class="active">Home</a>
        <a href="/watched">Watched</a>
        <a href="/search">Search</a>
    </div>
    <h2 onclick="window.location.href = '..'" id="back"><u>Home</u></h2>
    <br><br>
    <div id="rate">
        <%- display %>
    </div>
</body>

</html>