<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Movie Tracker</title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="topnav">
        <a href="..">Home</a>
        <a href="/watched">Watched</a>
        <a class="active" href="/search">Search</a>
    </div>
    <h1 style="text-align: center;">Movie Tracker</h1>
    <h2 onclick="window.location.href = '/search'" id="back"><u>Back To Search</u></h2>
    <div id="results">
        <%- list %>
    </div>
</body>

</html>