<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Movie Tracker</title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="topnav">
        <a href="..">Home</a>
        <a href="/watched">Watched</a>
        <a class="active" href="/search">Search</a>
    </div>
    <h1 style="text-align: center;">Movie Tracker</h1>
    <form action="<%= link %>" method="post">
        <label for="title"><strong >Search:</strong></label>
        <input type="text" name="title" id="title">
		<input type="submit" value="Enter"/>
    </form>
</body>

</html>